.instruction-container {
    .background-image {
        top: -8%;
        height: unset;
        padding-bottom: 31%;
        background-size: contain;
    }
    .instruction-human {
        position: absolute;
        z-index: 1;
        bottom: 0;

        &.first {
            left: -70px;
            height: 60%;
        }
        &.last {
            right: -70px;
            height: 90%;
        }
    }
    .instruction-arrow {
        position: absolute;
        width: 15%;
        z-index: 1;
        height: 100%;
        object-fit: contain;
        right: -12%;
        bottom: 1.5rem;
    }
    .instruction-step {
        width: 100%;
        height: auto;
    }
}
